@import "_variable&mixin.scss";

//*************colors************


.fff{color: #fff;}
.fff-1{color: rgba(255, 255, 255, 0.521);}
.f-grey{color: $grey;}
p{color: #a5a5a5;}
.f-color-1{color: $theme-color-1;}
.f-color-2{color: $theme-color-2;}
.f-color-3{color: $theme-color-3;}
.f-gold{color: $gold;}
.f-bg-1{background: $bg-color-1}



//***********buttons*************

.f-btn-0{
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    background: $theme-color-3;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
}

//***********Font****************

.brand-font{
    font-family: 'Audiowide', cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

// .heading{font-family: 'Cairo', sans-serif;}
.heading{font-family: 'Concert One', cursive;}


.font-xs{font-size: 0.9rem;}
.font-md{font-size: 1.2rem;}
.font-lg{font-size: 5rem;}


//************Others****************

h1{font-size: 3.4rem;}

a{
    text-decoration: none; 
    color: #000;

    &:hover{
        color:#000;
    }
}

li{
    list-style: none;
}

.bi{cursor: pointer;}

.space-1{letter-spacing: 1px;}
.space-2{letter-spacing: 2px;}
.space-3{letter-spacing: 3px;}
.space-4{letter-spacing: 4px;}

.capital{text-transform: uppercase;}

.xtra-margin{margin: 0 4rem}


//**********icon box************

.icon-circle-blue{
    @include icon-circle;
    background: $theme-color-1;
}
.icon-circle-pink{
    @include icon-circle;
    background: $theme-color-2;
}
.icon-circle-red{
    @include icon-circle;
    background: $red;
}
.icon-circle-green{
    @include icon-circle;
    background: $green;
}

.icon-box-blue{
    @include icon-box;
    background: $theme-color-1;
}
.icon-box-pink{
    @include icon-box;
    background: $theme-color-2;
}
.icon-box-red{
    @include icon-box;
    background: $red;
}
.icon-box-green{
    @include icon-box;
    background: $green;
}

@media (max-width:992px){
    .font-lg{font-size: 4rem;}
    .xtra-margin{margin: 0}
}

@media (max-width:492px){
    .font-lg{font-size: 3rem;}
    h1{font-size: 2.5rem;}
}

@media (max-width:392px){
    .font-lg{font-size: 2.4rem;}
}